<!DOCTYPE html>
<html>
<head>
	<title>Tab Name</title>
</head>
<body>
	<h2>Website for HTML Testing</h2>
	<hr>
	<p>This is the paragraph..</p>
	<hr>
	<a href="http:naveennetwork.com" target="_blank">NaveenNetwork</a><br><hr>
	<img src="naveen.jpg" width=250>
	<hr>
	<h3>Lists</h3>
	<ul>
		<li>Item1</li>
		<li>Item2</li>
	</ul>
	<ol>
		<li>Item1</li>
		<li>Item2</li>
	</ol>
	<hr>
	<h3>Table</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>NaveeN</td>
				<td>naveen.@gmail.com</td>
				<td>9983738792</td>
			</tr>
			<tr>
				<td>Sourab Kanth</td>
				<td>sourabhkanth@yahoo.com</td>
				<td>8973678242</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<h3>Application Form</h3>
	<br>
	<form action="process.php" method="POST">
		<div>
			<label>Name</label>
			<input type="text" name="name" placeholder="Enter Your Name">
		</div><br>

		<div>
			<label>Email</label>
			<input type="email" name="email" placeholder="Enter Email Address">
		</div><br>

		<div>
			<label>Phone</label>
			<input type="text" name="phone" placeholder="Enter Phone Number">
		</div><br>
		<div>
			<big>Gender: </big>
			<input type="radio" name="gender" value="Male">
			<label>Male</label>
			<input type="radio" name="gender" value="Female">
			<label>Female</label>
			<input type="radio" name="gender" value="Other">
			<label>Other</label>
		</div><br>
		<div>
			<label>Country</label>
			<select name="country">
				<option value="india">India</option>
				<option value="us">US</option>
				<option value="new zealand">New Zealand</option>
			</select>
		</div><br>
		<div>
			<label>Age</label>
			<input type="number" name="age" placeholder="Enter your Age">
		</div><br>
		<div>
			<label>Message</label>
			<textarea type="message" name="message" placeholder="About Yourslef!"></textarea>
		</div><br>
		<div>
			<label>Date of Birth</label>
			<input type="date" name="birthday">
		</div><br>
		<div>
			<big>Foods you like</big><br>
			<input type="checkbox" name="mutton" value="Mutton">
			<label>Mutton</label><br>
			<input type="checkbox" name="orange" value="Orange">
			<label>Orange</label><br>
			<input type="checkbox" name="roti" value="Roti">
			<label>Roti</label>
		</div><br>
		<button>Click Me!</button><br><br>
		<input type="submit" name="submit" value="Submit">
	</form>
	<br>
	<hr>
	<p>Abbrivation for <abbr title="naveennetwork.com">nnetwork</abbr></p>
	<small>Cool!</small><hr>
	<footer>
		<p>CopyRight &copy; 2020, by You!</p>
	</footer>


</body>
</html>