<!DOCTYPE html>
<html>
<head>
	<title>Your Resume</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="style.css" />
</head>
<body>

	<div class="container">
		<div class="top-name">
			<h1>Naveen kumar</h1>
		</div>
		<div class="box-1">
			<p>[Write down a professional summary or a resume objective.] <br>AWS-certified big data solution architect with 4+ years of experience driving information management strategy. Strategized, designed, and deployed innovative and complete security architecture for cloud data protection for 15 Fortune 500 companies. Seeking to leverage high-level understanding of Amazon Web Services global infrastructure and service migrations to become the senior solution architect at Atlassian.</p>
			
			<hr class="horizontal_line2">
			
			<h3>Education</h3>
			<p class="education">Bachelor of Engineering&emsp;<small class="small">(2012-2016)</small><br><small class="small">VTU, Karnataka, India</small></p>
			<p class="education">M.Sc. Bioengineering&emsp;<small class="small">(2016-Present)</small><br><small class="small">Harvard University, Cambridge, MA</small></p>

			<hr class="horizontal_line2">
			
			<h3>Experience</h3>
			<p class="education">Software Developer&emsp;<small class="small">(2018-Present)</small><br><small class="small">Verizon, CA</small></p>
			<p> [Describe your responsibilities and achievements] <br>Designed and edited blueprints for IT infrastructure and networking architecture according to management’s demands. Monitored existing infrastructure and architectural frameworks for performance,and made changes and updates when necessary.</p><br>
			<p class="education">Software Engineer&emsp;<small class="small">(2016-2018)</small><br><small class="small">Cisco, CA</small></p>
			<p> Developed enterprise architectural blueprints, along with descriptive documentation for all stakeholders. Designed and tweaked global AWS infrastructure, including nodes in 12 regions and 52 sub-regions.</p><br>
			<p class="education">Software Tester&emsp;<small class="small">(2014-2016)</small><br><small class="small">Palo Alto Networks, CA</small></p>
			<p> Migrated applications, accounts, and platforms when necessary and feasible. Communicated target architectural plans and company roadmaps across all departments.</p>

		</div>

		<div class="side-view">
			<div class="photo">
				<img src="Naveen.jpg" alt="Avatar">
			</div>

			<div class="side-head">
				<h6>Contact</h6>
				<hr class="horizontal_line">
				<div class="contact-lines">
					<div>
						<i class="fa fa-phone"></i>
						&emsp;
						<span>+91-9999988888</span>
					</div>
					<div>
						<i class="fa fa-envelope"></i>
						&emsp;
						<span>naveen.test@gmail.com</span>
					</div>
					<div>
						<i class="fa fa-home"></i>
						&emsp;
						<span>London, UK</span>
					</div>
					<div>
						<i class="fa fa-globe"></i>
						&emsp;
						<span>http://naveennetwork.com</span>
					</div>
				</div>
			</div>

			<div class="side-head">
				<h6>Skills</h6>
				<hr class="horizontal_line">
				<div class="skills-lines">
					<div>
						<p>
							<span>Python</span>
							&emsp;
							<span>Network_Automation</span>
							&emsp;
							<span>Ansible</span>
							&emsp;
							<span>SDN</span>
							&emsp;
							<span>AWS_Networking</span>
						</p> 
					</div>
				</div>
			</div>

			<div class="side-head">
				<h6>Languages</h6>
				<hr class="horizontal_line">
				<div class="languages-lines">
					<div>
						<p>English&emsp;&ensp;&nbsp;
						<input class="radio-1" type="radio" id="one" name="language-1">
						<input class="radio-1" type="radio" id="two" name="language-1">
						<input class="radio-1" type="radio" id="three" name="language-1">
						<input class="radio-1" type="radio" id="four" name="language-1">
						<input class="radio-1" type="radio" id="five" name="language-1"> 
						</p>
						<p>Hindi&emsp;&emsp;&nbsp;&nbsp;
						<input class="radio-2" type="radio" id="one" name="language-2">
						<input class="radio-2" type="radio" id="two" name="language-2">
						<input class="radio-2" type="radio" id="three" name="language-2">
						<input class="radio-2" type="radio" id="four" name="language-2">
						<input class="radio-2" type="radio" id="five" name="language-2">
						</p>
						<p>Kannada&emsp;&nbsp;
						<input class="radio-3" type="radio" id="one" name="language-3">
						<input class="radio-3" type="radio" id="two" name="language-3">
						<input class="radio-3" type="radio" id="three" name="language-3">
						<input class="radio-3" type="radio" id="four" name="language-3">
						<input class="radio-3" type="radio" id="five" name="language-3">
						</p>
					</div>
				</div>
			</div>

			<div class="side-head">
				<h6>Hobbies</h6>
				<hr class="horizontal_line">
				<div class="hobbies-lines">
					<div>
						<p>
							<span>Cricket</span>
							&emsp;
							<span>Music</span>
							&emsp;
							<span>Travelling</span>
						</p> 
					</div>
				</div>
			</div>

		</div>		
	</div>

</body>
</html>